name: golang-pipeline

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*'
  pull_request:

jobs:
  test:
    name: Test & Vet
    runs-on: ubuntu-latest
    container: golang:1.24.2
    steps:
      - uses: actions/checkout@v4

      - name: Show Go version
        run: go version

      - name: Download modules
        run: go mod download

      - name: Vet
        run: go vet ./...

      - name: Run unit tests
        run: go test ./... -v

  deploy:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: pawa-w/sprint-12
          tags: |
            type=ref,event=tag
          labels: |
            org.opencontainers.image.source=${{ github.repository }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
